<%- include('./partials/header.ejs') %>

<body id="userProfile">
  <%- include('./partials/navbar.ejs') %>
  <div class="container underNav">
    <div id="editProfile">
      <img class="ui small circular image" src="<%= user.file_src %> " id="pfpImg">
      <div class = "fluid container" id = "edit">
        <h1 style="color: white; margin-bottom: 5px;"> <%= user.name %> </h1>
        <form action="" enctype="multipart/form-data" id="pfpsupload" name="<%= user.id %>">
          <label class="btn btn-primary">
            <i class="fa fa-image"></i> Change Profile Pic<input type="file" style="display: none;"  name="pfp" accept="image/*" id="pfpFile" >
          </label>
        </form>
      </div>
      
    </div>
    
  </div>
  <div class="container">
    <form class="align-middle" action="/app/users/<%= user.id %>?_method=PATCH" method="POST"id="updateProfile" >
        <div class="form-floating mb-3 ">
            <input type="text" class="form-control"  name="name" placeholder="FullName" required>
            <label for="name">Name</label>
          </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control " name="email" placeholder="name@example.com" required>
            <label for="email">Email address</label>
          </div>
          <div class="form-floating" style = "margin-bottom:20px">
            <input id="password" type="password" class="form-control  "  name="userpassword" placeholder="Password" required>
         
            <div class="invalid-feedback" id="message" style="display: none;">The Correct Password Is Required To Update Profile</div>
         
            <label for="userpassword">Password</label>
          </div>
          
       
       <div style="display: flex;justify-content: space-between;">
        <button type="submit" class="btn btn-success" id="updateButton" name="<%= user.id %>">Update Profile</button>
        <input type="submit" value="Delete Profile" class="btn btn-danger" name="<%= user.id %>" id = "deleteButton" formnovalidate>
       </div>
        
      </form>
    </div>
   
 
</body>
</html>