<%- include('./partials/header.ejs') %>

<body id="home">
    <%- include('./partials/navbar.ejs') %>
    <div class="container underNav" style="padding: 0;" id="eachPost">
      
      <% posts.forEach(element => { %>
            <div class="ui card fluid" style=" background: black;color: white; margin-bottom: 1.5em;">
            <div class="content">
              <div class="right floated meta" style="color: white;"><%= element.timeSpan %>hrs</div>
              <% if (element.file_src) { %>
                <img class="ui avatar image" id="<%= element.id %>" src="<%= element.file_src %>"/> <%= element.name %> 
               <% } else { %>
                <img class="ui avatar image" id="<%= element.id %>" src="<%= element.pfpurl %>" style="background: white;"/> <%= element.name %> 
              <% } %>
             
              <!-- <img class="ui avatar image" src="/images/avatar/large/elliot.jpg"> Elliot -->
            </div>
            <div class="image">
              <% if (element.post_content) { %>
              <div class="ui inverted segment" style="margin: 10px;" id="<%= element.id %>">
                  <p style="font-size: x-large;font-family: cursive;" ><%= element.post_content %> </p>
              </div>
             <% } else { %>
                    <% if (element.file_type.includes('image')) { %>
                       <img  src="<%= element.post_src %>" alt="postImage" id="<%= element.id %>">
                     <% } else { %>
                      <video title="video" controls="" name="media" id="<%= element.id %>" data-bs-whatever="post" style="width: 100%;"> 
                        <source src="<%= element.post_src %> " type="<%= element.file_type %> ">
                      </video>
                    <% } %>
            <% } %>
            </div>
            <div class="content">
              <span class="right floated" >
                <i class="heart outline like icon"></i>
                <span id="<%= element.likes_count %>">
                  <%= element.likes_count %> likes
                </span>
              </span>
              <i class="comment icon" id="commentIcon"></i>
              <a>
                <% feed.forEach(feeds => { %>
                  <% if (element.id === feeds.id) { %>
                    <span id="<%= feeds.count %> ">
                      <%= feeds.count %> 
                    </span> 
                  <% } %> 
             <% }) %>
              comments
              </a>
            </div>
            <span id="<%= element.id %>" title="<%= element.user_id %>" style="padding-right: 1em;padding-left: 1em;"></span>
            <div class="extra content">
              <div class="ui large fluid transparent left icon input">
                <form action="" method="post" class="ui form " id="commentForm">
                 <div class="ui inverted segment">
                  <div class="ui fluid inverted transparent icon input">
                    <label for="comment"></label>
                    <input type="text" placeholder="Add Comment..." style="color: rgb(233 233 233);" name="<%= element.id %>">
                    <i class="comment icon"></i>
                  </div>
                </div>
                </form>
                
              </div>
            </div>
          </div>
          <% }) %>
    </div>

    <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="postChoices" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#upload" data-bs-whatever="What's On Your Mind?" data-bs-dismiss="modal">Post Text</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#upload" data-bs-whatever="Photos" data-bs-dismiss="modal">Photos</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#upload" data-bs-whatever="Videos" data-bs-dismiss="modal">Video</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="upload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/app/users/<%= user.id %>/post" method="post" enctype="multipart/form-data">
          <div class="mb-3" id="fileUpload">
            <label for="messagetext" class="col-form-label">Text</label>
            <textarea class="form-control" name="messagetext"id="message-text"></textarea>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary"  value="Post">
        <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="postFile">Post</button> -->
        </form>
          <!-- <button type="button" class="btn btn-primary">Post</button> -->
      </div>
    </div>
  </div>
</div>

<!-- comments Modal -->
<div class="modal fade" id="commentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content" style="background: black;color: white;border-radius: 20px;">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Comments</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer" style="justify-content: center;">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>

<!-- https://pbs.twimg.com/profile_images/1103012910534742017/MOM3aYU5_400x400.png -->